.bg-login {
	background: url('../images/background.png');
	background-position: cover;
	background-size: cover;
}

.bg-login h2 {
	font-size: 30;
	font-weight: bold;
}

.bg-login h4 {
	font-size: 25;
	font-weight: semi-bold;
    letter-spacing: 1px;
}

.form-group label {
    font-size: 12px;
    color: #646363;
}

.form-group input {
    padding-top: 10px;
    padding-bottom: 10px;
}

.banner img{
	width: 100%;
	height: 30%;
}

.tag {
	color: #045B29;
	font-weight: bold;
}

table td input[text] {
	border: #045B29 6px solid;
	background-color: #F3F3F3;
}